<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMeB9hfLcQMUOQEp-NTYGrAGzj0gCv2es</string>
	<key>GCM_SENDER_ID</key>
	<string>972586602588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lousalvant.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechatserver-45e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>firechatserver-45e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972586602588:ios:aaeabf0abac16aba745699</string>
</dict>
</plist>